<form class="" action="" method="post">
  <label for="title">Title</label>
  <input id="title" type="text" name="" value="">
  <label for="director">Director</label>
  <input id="director" type="text" name="" value="">
  <label for="poster_url">Poster URL</label>
  <input id="poster_url" type="text" name="" value="">
  <label for="year">Year</label>
  <input id="year" type="number" name="" value="">
  <label for="my_rating">Rating</label>
  <input id="my_rating" type="number" name="" value="">
  <button type="submit" name="button">Submit</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</script>
<script type="text/javascript">
  $('form').submit(function(event) {
    event.preventDefault();

    var data = {
      title: $('#title').val(),
      director: $('#director').val(),
      poster_url: $('#poster_url').val(),
      year: $('#year').val(),
      my_rating: $('#my_rating').val()
    };

    $.post('/movies', data)
  });
</script>
